#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  font-family: "Fraunces", serif;
}

.no-tap-highlight {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  touch-action: manipulation;
}
